@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primario: #a8de02;
    --color-secondario: #e1d600;
    --color-complementario-1: #4cde02;
    --color-complementario-2: #02de11;
    --color-complementario-3: #02de5c;
    --color-white: #f1eaea;
    --color-fondo: #202702;
    --font-primary: 'Tilt Neon', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --font-complemente: 'Staatliches', sans-serif;

}

body {
    font-family: var(--font-primary);
    color: var(--color-white);
    background-color: #141313;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(62, 62, 65);
  }
  ::-webkit-scrollbar-thumb{
    
    background-color: #02de5eb8;
      border-radius: 5px;
  }
  ::-webkit-scrollbar-track{
    background: hsla(0,0%,55%,0);
    /* visibility: hidden; */
  }
  